.article > .Card {
    top: -4rem;
    margin-bottom: 0;
    transition: width 0.2s;
}

.article p {
    margin-bottom: 1rem;
}

.article-sentiment {
    text-align: center;
    font-size: 3.5rem;
}

.Heading--small {
    font-size: .675rem;
    font-weight: 200;
}


@media screen and (min-width: 720px) {
    

    .article > .Card {
        width: 100%;
        margin: 0 auto;
        margin: 0.7rem;
     }

     

    .article >  .article-cover {
        width: 55rem;
        display: block;
        margin: 0 auto;
    }

    .article:nth-child(3n + 5) {
        clear: left;
        /*background: red;*/
    }

}


@media only screen and (min-width: 991px)  {
    .article > .Card {
       width: 100%;
       margin-bottom: 0;
    }

    .article:nth-child(3n + 6) {
        clear: left;
       /* background: yellow;*/
    }

    .article:nth-child(2) {
        height: 600px;
    }

    .article:nth-child(3n + 5) {
        clear: none;
    }
    
}




