.article > .Card {
    margin-bottom: 1rem;
    transition: width 0.2s;
}

.article p {
    margin-bottom: 1rem;
}

.article-sentiment {
    text-align: center;
    font-size: 3.5rem;
}

.Heading--small {
    font-size: .675rem;
    font-weight: 200;
}

.trending-list-item {
    width: 100%;
    vertical-align: text-top;
    margin-bottom: 2rem;
}

.trending-list-item a {
    text-decoration: none;
}

.trending-header {
    font-size: 1.5rem;
}

.read-more-button:hover {
    text-decoration: none;
}


.article-content p {
    font-size: 1.2rem; 
}

@media screen and (max-width: 500px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 720px) {
    

    .article > .Card {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
     }

    .article >  .article-cover {
        width: 55rem;
        display: block;
        margin: 0 auto;
    }

    .article:nth-child(3n + 5) {
        clear: left;
        /*background: red;*/
    }

    .article-title {
        font-size: 3rem;
    }

    .article-footer {
        width: 50%;
    }

    .trending-list-item {
        width: 33.333%;
    }
    
}


@media only screen and (min-width: 991px)  {
    .article > .Card {
       width: 100%;
    }

    .article:nth-child(3n + 3) {
        clear: left;
       /*background: yellow;*/
    }

    /*.article:nth-child(2) {
        height: 600px;
    }*/

    .article:nth-child(3n + 5) {
        clear: none;
    }

    .read-more-button {
        text-decoration: none;
        font-size: 1rem;
        /*border: 0.05rem solid @@PRIMARY_COLOR@@;  */  
        background: lightgray; 
    }

}




